body {
  font-family: 'Montserrat';
  text-align: center;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* ////////////Headings/////// */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.testimonial-heading {
  font-size:3rem;
  line-height: 1.5;
  color: #fff;
}

.pricing-header {
  color: #000;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.container {
  padding-left: 0;
}

/* Navbar section */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-light .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
}

.nav-item {
  padding: 0 9px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* Download button */
.download-button {
  margin: 10% 5% 10% 0;
}

/* Title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
#features {
  padding: 8% 0;
  background-color: #fff;
  position: relative;
  z-index: 10;
}
.features-title{
  font-size: 1.5rem;
}

.features-icon p {
  color: #8f8f8f;
  margin-top: .5rem;
  font-weight: bold;
  font-size: 18px;
}

.icon-size {
  font-size: 64px;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon-size:hover {
  font-size: 64px;
  color: #ff4c68;
  transition: .6s
}

/* ///////////////////Testimonials //////////*/
#testimonials {
  background-color: #ef8172;
}

.testimonial-bg h2 {}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* //////////////press section//////// */
#press {
  background-color: #ef8172;
}

.press-img {
  width: 13%;
  margin: 20px 20px 50px;
}

/* ///////SLIDER////// */
.carousel-item {
  padding: 4% 14%;
}

/* Pricing-section///// */
#pricing {
  padding: 8%;
}
.pricing-title{
  font-size: 1.5rem;
}
.pricing-section {
  padding: 4% 2%;
}

/*//////////// Media Query ////////////*/
@media (max-width:1076px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* ////////////CTA-Section///////// */
#cta {
  background-color: #ff4c68;
}

.cta-text {
  font-size: 4rem;
  color: #fff;
  padding: 5% 14%;
}

.cta-button {
  margin: 0px 12px 130px;
  font-weight: bold;
}

/* //////////footer sectuion/////// */
#footer {
  background-color: #fff;
}

.f-icon {
  display: inline;
  padding-right: 20px;
  color: #000;
  background-color: #fff;
  font-size: 1rem;
}

.icon a {
  text-decoration: none;
}

.icon {
  margin: 60px 0 10px 0;
}

.f-copyright {
  margin-bottom: 30px;
  font-weight: bold;
}
